.input_wrap {
   position: relative;
   width: 320px;
   display: flex;

   flex-direction: column;
   align-items: center;
}
.input_wrap input {
   outline: none;
   border: 1px solid var(--bg-third);
   background: var(--bg-primary);
   width: 100%;
   height: 50px;
   font-size: 17px;
   border-radius: 10px;
   padding-left: 10px;
   margin-bottom: 10px;
   color: var(--color-primary);
}
.input_wrap input:focus {
   border-color: var(--blue-color);
}
.input_error_border {
   border: 1px solid red !important;
}
.input_wrap i {
   position: absolute;
   top: 15px;
   right: 10px;
   transform: scale(0.9);
}
.input_error {
   background-color: #b94a48;
   color: white;
   padding: 10px;
   width: 100%;
   font-size: 13px;
   border-radius: 5px;
   margin-bottom: 15px;
}
.error_arrow_top {
   border-top: 10px solid #b94a48;
   border-left: 10px solid transparent;
   border-right: 10px solid transparent;
   position: absolute;
   bottom: -10px;
}
.error_arrow_bottom {
   border-bottom: 10px solid #b94a48;
   border-left: 10px solid transparent;
   border-right: 10px solid transparent;
   position: absolute;
   top: 50px;
}
.input_wrap input:hover {
   border-color: var(--blue-color);
}
.error_arrow_left {
   border-left: 10px solid #b94a48;
   border-top: 10px solid transparent;
   border-bottom: 10px solid transparent;
   position: absolute;
   left: 18.81rem;
   top: 10px;
}
.error_arrow_right {
   border-right: 10px solid #b94a48;
   border-top: 10px solid transparent;
   border-bottom: 10px solid transparent;
   position: absolute;
   left: -10px;
   top: 10px;
}

.input_error_desctop {
   position: absolute;
   width: 300px;
   top: -3px;
   left: -19.5rem;
}

.register_input_wrap {
   width: 100% !important;
}
.register_input_wrap input {
   /* width: 300px; */
   background: var(--bg-secondary);
}
.register_input_wrap .input_error {
   max-width: 300px;
}
